<!doctype html>
<html>

<script type=text/javascript src="{{
url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {
           });
            return false;
          });
        });
</script>

<body>
    <img src="/static/peekabo.jpg"> </br></br>
<audio controls>
  <source src="/static/peepikiki.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<div class='container'>
        <form>
            <a href=# id=test><button class='btn btn-default'>BEGIN PEEP SHOW</button></a>
        </form>

</div>
</body>
</html>



